fastapi
uvicorn
langgraph
langchain-google-genai
langchain-community
chromadb
pydantic
pydantic[email]
tavily-python
pypdf
pdfplumber
google-generativeai
python-dotenv
sentence-transformers
motor
pymongo
python-jose[cryptography]
bcrypt
python-multipart