fastapi
uvicorn
langgraph
langchain-google-genai
langchain-community
pydantic
pydantic[email]
tavily-python
pypdf
pdfplumber
google-generativeai
python-dotenv
motor
pymongo
python-jose[cryptography]
bcrypt
python-multipart
fastapi-mail
dnspython
certifi